body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #263238;
  color: aliceblue;
}

footer {
  position: fixed;
  height: 30px;
  bottom: 0;
  width: 100%;
  background-color: #37474f;
}

footer button.btn {
  color: #eceff1;
}

footer button.btn:hover {
  text-decoration: none;
  border: 1px solid transparent;
  color: #eceff1;
}

footer button.btn:active {
  text-decoration: none;
  background-color: #546e7a;
}

footer button.btn:focus {
  text-decoration: none;
}

main.container-fluid {
  padding-top: 15px;
  padding-bottom: 45px;
}

.list-group-item-dark {
  background-color: #455a64;
  color: #eceff1;
}

main ul li button.copier {
  color: #eceff1;
}

main ul li button.copier:hover {
  color: #eceff1;
  text-decoration: none;
  border: 1px solid #eceff1;
}

main ul li button.copier:focus {
  text-decoration: none;
}
